*
{
    margin:0;
    padding:0;
}
h2 a{
    
    margin-left: 10px;
    color: green;
}

table{
    border: 2px solid white;
    width: 500px;
    margin-left: 40px;
}
tr td{
    padding: 20px;
    color:white;
}



.n1{background-color: rgb(12, 92, 90);}
.n2{background-color: brown;}
.n3{background-color: aqua;}
.n4{background-color: rgb(41, 41, 247);}
.n5{background-color: rgb(2, 70, 2);}
.n6{background-color: rgb(48, 20, 20);}
.n7{background-color: orange;}
.n8{background-color: rgb(43, 43, 184);}
.n9{background-color: pink;}